<!DOCTYPE html>
%html
  %head
    %title Article With Chanko
    = stylesheet_link_tag 'application.css', :media => 'screen, projection'
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    .wrapper
      .grids
        .grid-1.end
          .header
            %h1 
              Article
            #form
              = render '/layouts/login_form'
          %div.content.clear
            = yield

